/* # RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* # UTILS */
  
  .container {
    margin: 0 auto;
    padding: 0 10px;
    width: 1000px;
    max-width: 100%;
  }
  body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(37 94 233);
    padding: 10px;
    
}
.login{
border-radius: 20px;
margin-right: 150px;
padding: 5px;
width: 70px;
}
.logo{
    margin-left: 200px;
}

.navbar .links a {
    margin: 0 10px;
    text-decoration: none;
    color: black;

    
}
.list-first{
    list-style-type: none;
    display: inline;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 129px;
    padding-right: 129px;
    margin-right: 150px;
}
.list-item-first{
    display: inline-block;
    color: white;
    padding-right: 15px;

}
.section1, .section2, .section3, .section4, .section5, .section6 {
    display: flex;
    justify-content: center;
    padding: 30px;
}
.section1 {
   background-image: url(../img/jumbo.png);
  background-size: 1550px;
  padding: 80px;
 

}
.titolo{
    width: 436px;
    height: 86px;
    font-size: 40px;
    color: white;
}
.paragrafo{
    color: white;
    padding-bottom: 15px;
}
.button-section1-download{
display: flex;
border-radius: 20px;
padding: 7px;
display: inline-block;
color: black;
background-color: white;
}
.button-section1-browser{
    display: flex;
    border-radius: 20px;
    padding: 7px;
    display: inline-block;
    color: white;
    background-color: black;

}

.section1 .pink-box {
    width: 49%;
    height: 300px;
    display:flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
.section2, .section4 {
    background-color: #f1f1f1;
    padding: 100px;
}
.section3{
    padding: 60px;
    
}
.section2 .blue-box{
   background-image:url(../img/item1.svg);
   background-size: 534px;
padding-bottom:300px;
height:350px;
width:550px;
padding-right:200px;
}

.section2 .pink-box{
    height: 350px;
    width: 500px;
}
.titolo2{
    font-size: 45px;
    font-weight: 50px;
  
  
}
.paragrafo2{
   
}


 .section4 .pink-box {
    width: 60%;
    height: 260px;
   
}
.section4 .blue-box{

   
    background-image:url(../img/item3.svg) ;
    background-size: 524px;
    height:350px;
width:548px;
}



.paragrafo3{
    font-weight: 300;
    font-size: 20px;
}
.titolo3{
    font-size: 45px;
    font-weight: 500px;
}
.section3 .pink-box{
    width: 60%;
    height: 260px;
    padding-top: 40px;
    height: 350px;
    width: 500px;
    font-size: 25px;

}
.section3 .blue-box{
    width: 520px;
    height: 350px;
    background-image: url(../img/item2.svg);
    background-size: 510px;
}

.section3 {
    background-color: #b3b3b3;
}
.section5 {
    background-color: #b3b3b3;
}

 .green-box {
    width: 60%;
    height: 520px;
    background-image:url(../img/item4-big.svg) ;
    background-size: contain;
    margin-top: 30px;
}

.section6 {
    background-color: #333;
}

.section6 .red-box {
    width: 25%;
    height: 450px;
    background-color: #23272a;
    display: inline-block;


}


.section6 .turquoise-box {
    width: 9%;
    height: 450px;
    background-color: #23272a;
    
}
.footer{
    color: blue;
    list-style-type: none;
}
.list-item-second{
    color: white;
    padding: 5px;
}
hr{
    margin-bottom: 10px;
}
footer {
    display: flex;
  justify-content: space-between;
    background-color: #23272a;
    padding: 10px;
    align-items: center;
}

footer .footer-logo {
    font-size: 18px;
   
}

.footer-text{
    border-radius: 20px;
}